# Telegram
TELEGRAM_TOKEN=SEU_TOKEN_AQUI
TELEGRAM_CHATID=SEU_CHAT_ID_AQUI

# Twelve Data
TWELVE_DATA_TOKEN=SEU_TOKEN_TWELVEDATA_AQUI

# Ativos monitorados
SYMBOLS=EURUSD,SOLUSDT

# Intervalo de cada vela
INTERVAL=1m

# Frequência de verificação
CHECK_INTERVAL=120